.modal {
  background: #fff;
  font-size: 1.5rem;
  margin: min(15px, 2.25dvw);
  padding: calc(28px + min(15px, 2.25dvw) / 2 * 2) 0 0;
}

.modal::before {
  background: #f2f2f2;
  content: "";
  display: block;
  height: calc(28px + min(15px, 2.25dvw) / 2 * 2);
  inset: 0 0 auto;
  position: absolute;
}

.closeButton {
  inset: calc(min(15px, 2.25dvw) / 2) 0 auto auto;
  margin: 0 calc(min(15px, 2.25dvw) / 2);
}
