.fieldsWrapper {
  padding: min(15px, 2.25dvw);
}

.filtersList {
  display: grid;
  gap: calc(min(15px, 2.25dvw) / 2);
}

.field {
  align-items: center;
  display: flex;
  gap: 12px;
}

.select,
.input {
  appearance: auto;
  border: 1px solid #f2f2f2;
  padding: 6px 12px;
}

.buttonsWrapper {
  background: #f2f2f2;
  display: flex;
  justify-content: flex-end;
  padding: min(15px, 2.25dvw);
}

.button {
  background: #e40b20 !important;
  font-size: 1.5rem;
}
